createdAt: "2018-12-25T08:49:57.264Z"
updatedAt: "2018-12-25T08:50:07.030Z"
type: "SNIPPET_NOTE"
folder: "e8b2a02f266976e13235"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: "APL"
    content: ""
  }
]
isStarred: false
isTrashed: true
