createdAt: "2018-05-18T05:56:53.292Z"
updatedAt: "2018-05-18T05:58:41.099Z"
type: "MARKDOWN_NOTE"
folder: "e8b2a02f266976e13235"
title: "Welcome To ZOE's Blog"
content: '''
  # Welcome To ZOE's Blog
  
  2017-10-29 [【经验】从外网访问内网服务器：安装到使用一站通](https://woaielf.github.io/2017/10/29/nat123/) 
  2017-09-25 [【笔记】Docker 入门手册](https://woaielf.github.io/2017/09/25/docker/) 
  2017-09-20 [【笔记】Shell 基础知识](https://woaielf.github.io/2017/09/20/shell/) 
  2017-09-15 [【笔记】Linux 基础知识](https://woaielf.github.io/2017/09/15/linux-core/) 
  2017-09-10 [【笔记】全基因组测序分析流程（一）](https://woaielf.github.io/2017/09/10/ngs-pipline-1/) 
  2017-08-27 [【笔记】全基因组测序分析之概述篇](https://woaielf.github.io/2017/08/27/ngs-analysis-1/)
  
  ------
  
  2017-08-23 [【笔记】测序原理](https://woaielf.github.io/2017/08/23/ngs-principle/) 
  2017-08-21 [【索引】生物信息「知识图谱」](https://woaielf.github.io/2017/08/21/bioinfo/) 
  2017-06-21 [【笔记】Python（九）爬虫常用库](https://woaielf.github.io/2017/06/21/spider/) 
  2017-06-13 [【汇总】Python 编程核心知识体系](https://woaielf.github.io/2017/06/13/python3-all/) 
  2017-05-28 [【笔记】Python（八）常用扩展库](https://woaielf.github.io/2017/05/28/lib-1/) 
  2017-05-25 [【实战】电商数据篇（二）MySQL 实战指南](https://woaielf.github.io/2017/05/25/jdata-mysql/)
  
  ------
  
  2017-05-20 [【实战】电商数据篇（一）数据初探](https://woaielf.github.io/2017/05/20/jdata-predeal/) 
  2017-05-04 [【笔记】SQL & MySQL](https://woaielf.github.io/2017/05/04/sql/) 
  2017-04-27 [【笔记】Python（七）数据可视化之「Matplotlib」](https://woaielf.github.io/2017/04/27/matplotlib/) 
  2017-04-22 [【笔记】Python（六）数值计算库之「Pandas」](https://woaielf.github.io/2017/04/22/Pandas/) 
  2017-04-15 [【笔记】Python（五）数值计算库之「NumPy」](https://woaielf.github.io/2017/04/15/numpy/) 
  2017-04-06 [【笔记】机器学习（六）分类方法-理论篇](https://woaielf.github.io/2017/04/06/dm-6/)
  
  ------
  
  2017-03-31 [【笔记】机器学习（五）维归约](https://woaielf.github.io/2017/03/31/dm-5/) 
  2017-03-30 [【笔记】机器学习（四）特征工程&模型评估](https://woaielf.github.io/2017/03/30/dm-4/) 
  2017-03-25 [【笔记】机器学习（三）数学基础之「线性代数」](https://woaielf.github.io/2017/03/25/dm-3/) 
  2017-03-20 [【汇总】机器学习基础之「统计篇」](https://woaielf.github.io/2017/03/20/sta-all/) 
  2017-03-17 [【笔记】机器学习（二）数据处理&相似/异性度量](https://woaielf.github.io/2017/03/17/dm-2/) 
  2017-03-15 [【笔记】机器学习（一）理论准备](https://woaielf.github.io/2017/03/15/dm-1/)
  
  ------
  
  2017-03-05 [【读书】《如何高效学习》](https://woaielf.github.io/2017/03/05/learn-more-study-less/) 
  2017-02-20 [【笔记】统计（十一）时间序列及预测&非参数方法](https://woaielf.github.io/2017/02/20/none-para/) 
  2017-02-17 [【笔记】统计（十）多元回归&回归分析](https://woaielf.github.io/2017/02/17/regression-2/) 
  2017-02-14 [【笔记】统计（九）简单线性回归](https://woaielf.github.io/2017/02/14/sl-regression/) 
  2017-01-06 [【笔记】统计（八）实验设计&方差分析](https://woaielf.github.io/2017/01/06/sta-8/) 
  2017-01-03 [【笔记】统计（七）多个比率的比较&独立性检验&拟合优度检验](https://woaielf.github.io/2017/01/03/sta-7/)
  
  ------
  
  2017-01-02 [【笔记】统计（六）总体方差的统计推断](https://woaielf.github.io/2017/01/02/sta-6/) 
  2017-01-01 [【内省】我的2016&2017](https://woaielf.github.io/2017/01/01/my-2016-2017/) 
  2016-12-27 [【笔记】统计（五）两总体均值之差和比例之差的推断](https://woaielf.github.io/2016/12/27/sta-5/) 
  2016-12-26 [【笔记】统计（四）假设检验](https://woaielf.github.io/2016/12/26/sta-4/) 
  2016-12-25 [【笔记】统计（三）抽样分布&区间估计](https://woaielf.github.io/2016/12/25/sta-3/) 
  2016-12-23 [【笔记】统计（二）概率&概率分布](https://woaielf.github.io/2016/12/23/sta-2/)
  
  ------
  
  2016-12-21 [【笔记】统计（一）描述性统计](https://woaielf.github.io/2016/12/21/sta-1/) 
  2016-12-11 [【笔记】R基础篇（三）数据管理](https://woaielf.github.io/2016/12/11/R-basic-3/) 
  2016-12-10 [【笔记】R基础篇（二）数据结构](https://woaielf.github.io/2016/12/10/R-basic-2/) 
  2016-12-08 [【笔记】Python（四）基础篇之「文件对象&错误处理」](https://woaielf.github.io/2016/12/08/python-basic-4/) 
  2016-12-07 [【笔记】Python（三）基础篇之「模块&面向对象编程」](https://woaielf.github.io/2016/12/07/python-basic-3/) 
  2016-12-05 [【笔记】Python（二）基础篇之「函数&函数式编程」](https://woaielf.github.io/2016/12/05/python-basic-2/)
  
  ------
  
  2016-12-03 [【笔记】Python（一）基础篇之「基础&数据类型&控制流」](https://woaielf.github.io/2016/12/03/python-basic-1/) 
  2016-11-25 [【文献】CLIP-seq&CHIP-seq分析流程](https://woaielf.github.io/2016/11/25/CLIP-CHIP/) 
  2016-11-18 [【总结】Trim Galore用法及参数考量](https://woaielf.github.io/2016/11/18/trim-galore/) 
  2016-11-16 [【文献】RNA-seq分析流程](https://woaielf.github.io/2016/11/16/RNA-seq/) 
  2016-11-15 [【总结】如何从零开始搭建网站？](https://woaielf.github.io/2016/11/15/web-construct/) 
  2016-11-10 [【内省】写在大学生涯的第6年](https://woaielf.github.io/2016/11/10/coming-to-new-begin/)
  
  ------
  
  2016-11-08 [【笔记】Excel学习笔记](https://woaielf.github.io/2016/11/08/excel/) 
  2016-09-15 [【笔记】R基础篇（一）基础概要](https://woaielf.github.io/2016/09/15/R-basic-1/) 
  2016-09-11 [【索引】数据科学「知识图谱」](https://woaielf.github.io/2016/09/11/data-science/) 
  2016-09-10 [【索引】机器学习与数据挖掘](https://woaielf.github.io/2016/09/10/ML&DM/) 
  2016-09-09 [【索引】Python从基础到进阶](https://woaielf.github.io/2016/09/09/python/) 
  2016-09-08 [【索引】R语言从基础到进阶](https://woaielf.github.io/2016/09/08/r/)
  
  ------
  
  2016-09-06 [【索引】如何高效浏览本博客？](https://woaielf.github.io/2016/09/06/blog-begin/)
'''
tags: []
isStarred: false
isTrashed: false
