createdAt: "2018-05-17T05:44:14.570Z"
updatedAt: "2018-05-17T05:44:16.212Z"
type: "MARKDOWN_NOTE"
folder: "86d729dde83c4a092177"
title: "撤销 \"git add\""
content: '''
  # 撤销 "git add"
  
  我错误的git add了一个文件，还没有执行commit
  
  ```bash
  git add myfile.txt
  ```
  
  撤销：
  
  ```bash
  
  ```
  
  如果有很多文件需要撤销，执行：
  
  ```bash
  
  ```
  
  
  
  http://blog.topspeedsnail.com/archives/36
'''
tags: []
isStarred: false
isTrashed: false
